<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Add a new trip!</h1>
        <div class="text-right">
          <a href="/home">Home  |</a>
          <a href="/logout">|  Logout</a>
        </div>
      </div>
      <form class="col-md-8" action="/submit" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="">Destination</label>
          <input type="text" name="destination" placeholder="Where to go?">
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input type="text" name="description" placeholder="Tell us about it.">
        </div>
        <div class="form-group">
          <label for="">Start Date</label>
          <input type="date" name="start" placeholder="mm/dd/yyyy">
        </div>
        <div class="form-group">
          <label for="">End Date</label>
          <input type="date" name="end" placeholder="mm/dd/yyyy">
        </div>
        <button type="submit" name="button">Submit</button>
      </form>
      {% if messages %}
        {% for message in messages %}
          <p class="error">{{message}}</p>
        {% endfor %}
      {% endif %}
    </div>

  </body>
</html>
